# Utilities Analysis

In [1]:
import numpy as np
import pandas as pd
from sklearn import set_config
import matplotlib.pyplot as plt
import seaborn as sns 

set_config(display="diagram")
pd.set_option('display.max_rows', None)

In [2]:
data = pd.read_excel("datasets/em_housemeterreadings.xlsx")


data.tail(10)

,id,paymenttermid,houseid,meterid,reading,quantity,cost,amount,month,year,image,status,remarks,ipaddress,createdby,createdon,lasteditedby,lasteditedon,archive
57657,71688,7,274,1375.0,515764.00,515764.00,0.0,0.0,12,2022,meter3.jpg,1,NaN,NaN,0.0,1999-12-31,0.0,1999-12-31,0
57658,71689,7,283,1163.0,2494290.00,2494290.00,0.0,0.0,12,2022,meter3.jpg,1,NaN,NaN,0.0,1999-12-31,0.0,1999-12-31,0
57659,71690,7,280,1387.0,3181300.00,3181300.00,0.0,0.0,12,2022,meter3.jpg,1,NaN,NaN,0.0,1999-12-31,0.0,1999-12-31,0
57660,71691,37,40,1420.0,0.00,0.00,0.0,0.0,12,2022,NaN,0,NaN,NaN,0.0,1999-12-31,0.0,1999-12-31,0
57661,71692,7,234,1421.0,20440.00,20440.00,0.0,0.0,12,2022,meter3.jpg,1,NaN,NaN,0.0,1999-12-31,0.0,1999-12-31,0
57662,71693,7,297,1229.0,308493.00,308493.00,0.0,0.0,12,2022,meter3.jpg,1,NaN,NaN,0.0,1999-12-31,0.0,1999-12-31,0
57663,71694,7,86,337.0,59939.00,59939.00,0.0,0.0,1,2023,meter3.jpg,1,NaN,NaN,0.0,1999-12-31,0.0,1999-12-31,0
57664,71695,11,86,592.0,54.00,54.00,0.0,0.0,1,2023,meter.jpg,1,NaN,NaN,0.0,1999-12-31,0.0,1999-12-31,0
57665,71696,37,86,847.0,4358.13,4358.13,0.0,0.0,1,2023,NaN,1,NaN,NaN,0.0,1999-12-31,0.0,1999-12-31,0
57666,71697,36,86,82.0,399.00,399.00,0.0,0.0,1,2023,meter2.jpg,1,NaN,NaN,0.0,1999-12-31,0.0,1999-12-31,0

In [3]:
print(f"There are {data.shape[0]} rows and {data.shape[1]} columns \n")
print(f"There values are {data.info()}")

There are 57667 rows and 19 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57667 entries, 0 to 57666
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             57667 non-null  int64
 1   paymenttermid  57667 non-null  int64
 2   houseid        57667 non-null  int64
 3   meterid        57614 non-null  float64
 4   reading        57667 non-null  float64
 5   quantity       57667 non-null  float64
 6   cost           2136 non-null   float64
 7   amount         2136 non-null   float64
 8   month          57667 non-null  int64
 9   year           57667 non-null  int64
 10  image          57278 non-null  object
 11  status         57667 non-null  int64
 12  remarks        0 non-null      float64
 13  ipaddress      0 non-null      float64
 14  createdby      837 non-null    float64
 15  createdon      837 non-null    datetime64[ns]
 16  lasteditedby   2142 non-null   float64
 17  lasteditedon   2142 non-null   datetime64[ns]
 18  archive        57667 non-null  int64
dtypes: datetime64[ns](2), float64(9), int64(7), object(1)
memory usage: 8.4+ MB
There values are None

## Data Exploration

The columns are their definations:

* `id` - unique identifier of each meter reading
* `paymenttermid` - Utility represented by reading

```
    {
        "7": "Gas",
        "11" : "Backup Power"
        "36" : "Water",
        "37" : "Electricity",
        "38" : "Gas Residential",
        "39" : "Gas Commercial", 
        "41" : "Backup Power (CPF)",
        "41" : "Water (CPF)",
        "42" : "Electricity (CPF)",
    }
```

* `houseid` - House the reading came from 
* `meterid` - Meter id the reading was read from 
* `reading` - The reading
* `quantity` - Quantity the reading represents
* `cost` - The cost( column is empty)
* `amount` - The amount to be paid ( column is empty) 
* `month` - The month the reading was taken value are number i.e 1,2,3,
* `year` - The year the reading was made
* `image` - image of reading
* `status`  - Whether the billing was used for billing or not. 
* `remarks` - Remarks  on meter reading (empty)
* `ipaddress` - (empty)
* `createdby` - Who created meter reading row 
* `createdon` - When the meter reading row was created
* `lasteditedby` - Who last edited the meter reading row
* `lasteditedon` = When the meter reading row was last edited
* `archive` - Has the row been archived

### Remarks 

We intend to use the dataset to build a model to predict utilities quantity.
The mdoel will be built using `payemnttermid`, `meterid`, `reading`, `quantity`, `month`, `year`, `status` for this analysis. 
The target variables is the `reading`.

In [4]:
(data.reading == data.quantity).all()

False

In [5]:
result = data[['reading', 'quantity', 'year', 'month']][data['reading'].ne(data['quantity'])]
print(len(result))

1361

In [6]:

columns = ['paymenttermid', 'meterid', 'reading', 'quantity', 'month', 'year', 'status']
data = data[columns]

In [7]:
data.isna().sum()

paymenttermid     0
meterid          53
reading           0
quantity          0
month             0
year              0
status            0
dtype: int64

In [8]:
empty = data[data.isna().any(axis=1)]
empty.shape

(53, 7)

There are 53 rows that contain a missing value. The missing values are in the meterid column. We are going to exclude these rows for modelling because there are a small number.

In [9]:
data = data.dropna()
data.isna().sum()

paymenttermid    0
meterid          0
reading          0
quantity         0
month            0
year             0
status           0
dtype: int64


Some columns are categorical in nature but their data types is either float or integer. We will have to fix their data type so as not to confuse our model during training.

These columns are `paymentid`, `houseid`, `meterid`, `status`.
There also columns that should be in datetime format. They are `year`, `month`

In [10]:
data['month'].value_counts()

12    5023
8     4956
10    4956
11    4953
7     4926
9     4922
4     4907
6     4879
5     4839
2     4812
3     4614
1     3826
0        1
Name: month, dtype: int64

There is a row containing 0 month which is impossible

In [11]:
data[data['month'] == 0]

       paymenttermid  meterid  reading  quantity  month  year  status
15320              0      0.0      0.0       0.0      0     0       0

In [12]:
data = data.drop(data[data['month'] == 0].index)

In [19]:
# target = data['reading']
# data = data.drop(columns=['reading'])
print(f"""
    The feature rows are {data.columns} and they contain {data.shape[0]} rows \n
    The target rows is {target.name} and it contains {target.shape[0]} rows 
    """
     )

    The feature rows are Index(['paymenttermid', 'meterid', 'quantity', 'month', 'year', 'status'], dtype='object') and they contain 57613 rows

    The target rows is reading and it contains 57613 rows

We are going to convert each row to the right data type for easier analysis.

In [ ]:
for i in data.columns:
    plt.hist(data[i])
    plt.title(i)
    plt.show()